.show-card-container {
  background-color: yellow;
  justify-content: center;

}

.show-card {
  background-color: rgb(255, 255, 255);
  display: flex;
}

.show-description {
  padding-left: 20px;
  padding-top: 36px;
}


.button3 {
  background-color: #942a0f;
  color:white;
  border-radius: 15px;
  padding: 12px 24px;
  text-decoration: none;
  text-align: center;
  }
