<div class="banner"style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1560743173-567a3b5658b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);">
    <h1 id = "welcome">Welcome to WHOOF your one-stop shop for cuddly vibes</h1>
</div>

<div class = "user">
  <div class = "owner">
    <p class = "title"> Borrow a Buddy</p>
      <ul>
        <li><span class = "check">&#10003;</span>Find a trusted local dog lover to take care of your buddy when you can't</li>
        <li><span class = "check">&#10003;</span>Make money on the side</li>
        <li><span class = "check">&#10003;</span>Set preference according to your needs</li>
      </ul>
      <a class = "button1">Get Started</a>
  </div>
  <div class = "renter">
    <p class = "title">Rent a Buddy</p>
    <ul>
      <li><span class = "check">&#10003;</span>Search for a friendly local dog that meets your needs</li>
      <li><span class = "check">&#10003;</span>Have fun making new friends</li>
      <li><span class = "check">&#10003;</span>Benefit from the flexibility that only Whoof can provide</li>
    </ul>
    <a class = "button2">Get Started</a>
    </div>
</div>
