<div class="banner"style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1560743173-567a3b5658b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);">
    <h1>Welcome to WHOOF your one-stop shop for cuddly vibes</h1>
    <a class = "button">Get Started</a>
</div>

<div class = "user">
  <div class = "owner">
    <p> I want a dog</p>
      <ul>
        <li>Find a dog nearby</li>
        <li>Rent a friend for a few hours or days. It is up to you</li>
        <li>Set size, age and pet preferences according to your needs</li>
        <a class = "button1">Find me a dog</a>
      </ul>
  </div>
  <div class = "renter">
    <p> I want to rent my dog</p>
    <ul>
      <li>Make money on the side</li>
      <li>Share your dog with other</li>
      <li>Let someone else to take care of your dog while you are away</li>
      <a class = "button2">Find me a renter</a>
    </ul>
    </div>
</div>
