.navbar-lewagon {
  justify-content: space-between;
  background: #83BF21;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.brand {
  color: white;
  text-decoration: none;

}
